@media screen and (max-width: 1024px) {
  #navbar {
    display: none;
  }

  #menu {
    display: block;
    text-align: center;
  }

  .tile {
    width: 40%;
  }

  #glasses {
    display: none;
  }
}
